<head>
3 <title>Team details</title>
4 </head>
5 <body>
6 <h1>About Us: Team 23</h1>
7
8 <!-- Team Member 1 -->
9 <h2>Carlos Bello</h2>
10 <p>cbel0011@student.monash.edu
    +61452293992</p>
11
12 <!-- Team Member 2 -->
13 <h2>Chin Tang</h2>
14 <p>ctan0113@student.monash.edu
    +61402261280</p>
15
16
17 <!-- Team Member 3 -->
18 <h2>Linbing Ren</h2>
19 <p>Email:lren0006@student.monash.edu;0401419963</p>
20
21 <!-- Team Member 4 -->
22 <h2>Team Member 4 Name</h2>
23 <p>Team Member 4 details</p>
24 </body>
25 </html>
